.box{
    width: 200px;
    height: 75px;
    border: 1px double;
    background-color: bisque;
    margin: auto;
   border-radius: 3px;
   padding-left: 70px;
   box-sizing: border-box;
}

.btnbox{
     
    justify-content: center;
    display: flex; 
    margin: 4px;
}
button{
    padding-left: 11px;
    padding-right: 11px;
}