/* Q6. display background different ... */
/* .box{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: auto;

} */


/* Q7. sliding a box */
/* .box{
    width: 150px;
    height: 150px;
    border: 1px solid;
    position: relative;
} */
